{% extends 'dashboard.html' %}


{% block content %}

  <form class="col-md-4 center" id="domains-list-form" method="POST">
    <button class="btn btn-primary btn-lg" id="button" type="submit" >Generate</button> <br>
    <label>Select good domains to buy.<input id="domains-type" type="radio" checked name="domains-type" value="good"></label> <br>
    <label>See already registered domains.<input id="domains-type" type="radio" name="domains-type" value="bad"></label>
    <br><br>
    {% csrf_token %}
    <textarea name="words-list" id="domains-list" rows="30" cols="60"  placeholder="Paste your words list! If you want to use our words, leave it blank"></textarea>

  </form>

  <textarea style="margin: 115px 0 0 0;" id="list-dns-generated" rows="30" cols="60" placeholder="Here will be your domain.."></textarea>











  <script type="text/javascript">
    $(document).on('submit', '#domains-list-form', function(e){
      e.preventDefault();
      $("#button").replaceWith('<button class="btn btn-primary btn-lg" id="button" type="submit" ><i class="fa fa-refresh fa-spin"></i> Loading...</button>')
      $.ajax({
        type:'POST',
        url: '/dnsChecker',
        data: {
          domainslist: $('#domains-list').val(),
          domainstype: $('#domains-type:checked').val(),
          csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
        },
        success: function(data){
          $('#list-dns-generated').html(data);
          $("#button").replaceWith('<button class="btn btn-primary btn-lg" id="button" type="submit" >Generate</button>');

        }
      });
    });
  </script>




{% endblock %}
