{% extends 'dashboard.html' %}


{% block content %}

  <form class="col-md-4 center" id="post-ips" method="POST">
    <button class="btn btn-primary btn-lg" id="button" type="submit" >Decode</button><br><br>
    <label>Show all.<input id="ip-type" type="radio"  name="ip-type" value="all"></label> <br>
    <label>Select IPS with rDNS.<input id="ip-type" type="radio" checked name="ip-type" value="good"></label> <br>
    <label>Select IPS without rDNS.<input id="ip-type" type="radio" name="ip-type" value="bad"></label>
    <br><br>
    {% csrf_token %}
    <textarea class="col-md-10 center"  id="ip-list" rows="30" cols="30" placeholder="Put encoded HEADERS here"></textarea>

  </form>

  <textarea class="col-md-4 center" style="margin: 165px 0 0 0;" id="list-headers-decoded" rows="30" cols="10" placeholder="Here will be your headers.."></textarea>

  <script type="text/javascript">
    $(document).on('submit', '#post-ips', function(e){
      e.preventDefault();
      $("#button").replaceWith('<button class="btn btn-primary btn-lg" id="button" type="submit" ><i class="fa fa-refresh fa-spin"></i> Loading...</button>')
      $.ajax({
        type:'POST',
        url: '/ReverseGenerator',
        data: {
          ip_list: $('#ip-list').val(),
          ip_type: $('#ip-type:checked').val(),
          csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
        },
        success: function(data){
          $('#list-headers-decoded').html(data);
          $("#button").replaceWith('<button class="btn btn-primary btn-lg" id="button" type="submit" >Decode</button>');

        }
      });
    });
  </script>




{% endblock %}
